<div class="col-md-4 mx-auto">
    <div class="card text-center">
        <div class="card-header">
            <h3>Tarea Nueva</h3>
        </div>
        <div class="card-body">
            <form action="/notes/new" method="post">
                <div class="form-group">
                    <input type="text" name="title" id="title" class="form-control" placeholder="Titulo" autofocus>
                </div>
                <div class="form-group">
                    <textarea name="description" id="description" placeholder="Descripcion" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>