<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card card-header">
                Iniciar Sesión
            </div>
            <div class="card-body">
            <!-- logo <img src="iskejaf To Do" alt="" class="mx-auto d-block m-4"> -->
                <form action="/user/signin" method="post">
                    <div class="form-group">
                        <input type="email" name="email" id="email" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" id="password" class="form-control" placeholder="Contraseña">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">
                            Entrar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>